@import 'font';
@import 'color';
@import 'mixin';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/

.header{
  width: 1170px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__img{
  margin-right: 14px;
}
.logo__p{
  @include Gilroy70028;
}
.logo__span{
  color: $accentColor
}
.menu-bar{
  @include Gilroy60014;
}
.menu-bar__a{
  margin-left: 35px;
  text-decoration: none;
  color: #000;
  &:hover{
    color: $accentColor
  }
}

/*CONTENT*/
.content{
  width: 1170px;
  margin: 89px auto 0;
  display: flex;
  justify-content: space-between;
}
.content-info{
  & h1{
    @include Gilroy70060;
  }
  & p {
    margin-top: 17px;
    @include Gilroy50020;
  }
}

.content-info-btn{
  margin-top: 37px;
  display: flex;
  align-items: center;
}
.content-info-btn__start{
  width: 140px;
  height: 50px;
  margin-right: 72px;
  border: none;
  border-radius: 50px;
  background: #F25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
  @include Gilroy70015;
  @include transformTransition;
}

.content-info-btn__video{
  @include Gilroy70015;
  color: #888;
  text-decoration: none;
  @include transformTransition;

  &:hover{
    color: $accentColor;
  }
}

/*FOOTER*/
.footer{
  width: 1170px;
  margin: 260px auto 0;
  display: flex;
  align-items: center;
  gap: 48px;
}